*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

body{
    padding: min(50 px, 7%);
    background-color: gray;
}

h1{
    margin: 30px;
}

p{
    margin: 10px;
}

.card{
    padding: 2em;
    border: 2.5px solid #040f89;
    border-radius: 15px;
    background-color: #3E627F;
    text-align: center;
}

.grid-container{
    display: grid;
    border: 1px solid #393521;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); /*We can use fractions (fr) instead of 'px' in some cases*/
    grid-auto-rows: minmax(300px, auto);
    gap: 15px;
    justify-content: center;
    padding: 30px;
}